@layer pf.core {
  @media (prefers-color-scheme: dark) {
    .astro-code,
    .astro-code span {
      background-color: var(--shiki-dark-bg) !important;
      color: var(--shiki-dark) !important;
      /* biome-ignore-start lint/complexity/noImportantStyles: Imported code */
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
      /* biome-ignore-end lint/complexity/noImportantStyles: Imported code */
    }
  }
}
