@layer pf-media {
	html {
		background-color: var(--pf-color-bg-secondary);
	}

	body {
		background-color: var(--pf-color-bg);
		inline-size: 600px; /* also hardcoded in `generate_og.ts` */
		block-size: 315px; /* also hardcoded in `generate_og.ts` */
	}
}
