@layer pf.media {
	@page {
		size: var(--pf-print-page-size);
		margin-inline: var(--pf-print-margin-inline);
		margin-block: var(--pf-print-margin-block);

		@bottom-left {
			content: var(--pf-print-credits-left);
			color: var(--pf-color-fg-subtle);
		}

		@bottom-right {
			content: var(--pf-print-credits-right);
			font-family: var(--pf-font-family-monospace);
			font-size: 0.9em;
			color: var(--pf-color-fg-subtle);
		}
	}

	html {
		@media screen {
			transform: scale(var(--pf-print-preview-scale));
			transform-origin: top left;
		}
	}

	body {
		display: flex; /* to make sure child borders are considered in size */
		inline-size: calc(var(--pf-print-inline-size) - 2 * var(--pf-print-margin-inline));
		line-height: 1.2;

		@media screen {
			box-sizing: border-box;
			inline-size: var(--pf-print-inline-size);
			block-size: calc(var(--pf-print-page-count) * var(--pf-print-block-size));
			padding-inline: var(--pf-print-margin-inline);
			padding-block: var(--pf-print-margin-block);
			position: relative;

			[data-pf-print-page-break-offset] {
				margin-block-start: var(--pf-print-page-break-offset);
			}

			&::before {
				content: "";
				position: absolute;
				z-index: -1;
				inset: 0;
				background-image:
					linear-gradient(to bottom, transparent 0 calc(100% - 1px), #eab308 calc(100% - 1px) 100%),
					linear-gradient(
						to right,
						#ecfccb 0 var(--pf-print-margin-inline),
						transparent var(--pf-print-margin-inline) calc(100% - var(--pf-print-margin-inline)),
						#ecfccb calc(100% - var(--pf-print-margin-inline)) 100%
					),
					linear-gradient(
						to bottom,
						#ecfccb 0 var(--pf-print-margin-block),
						transparent var(--pf-print-margin-block) calc(100% - var(--pf-print-margin-block)),
						#ecfccb calc(100% - var(--pf-print-margin-block)) 100%
					);
				background-size: var(--pf-print-inline-size) var(--pf-print-block-size);
				background-repeat: repeat-y;
				pointer-events: none;
			}
		}
	}

	/* Block elements */

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	ul,
	ol,
	dl,
	pre,
	blockquote,
	figure,
	table,
	hr {
		margin-block: calc(2 * var(--pf-spacing));
	}

	/* Headings */

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: black; /* punchier on top of white */
	}

	h1 {
		font-size: var(--pf-font-size-l3);
	}

	h2 {
		font-size: var(--pf-font-size-l4);
	}

	h3 {
		font-size: var(--pf-font-size-l5);
	}

	h4 {
		font-size: var(--pf-font-size-l6);
	}

	h3 {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		&::after {
			flex-grow: 1;
			border-block-end: 1px dashed var(--pf-color-border);
			height: 0;
			content: "";
		}
	}

	/* Anchors */

	a {
		color: inherit;
		text-decoration: none;

		@media screen {
			text-decoration: underline;
			text-decoration-color: var(--pf-color-anchor-new);
		}
	}
}
