@layer pf.universal {
  /* Headings */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  /* Lists */

  li ol,
  li ul {
    margin-block: 0.5rem;
  }

  dl {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.25rem 0.5rem;

    dt {
      font-weight: 500;
    }

    &:not(:has(dt)) {
      display: none;
    }
  }

  .contains-task-list {
    li {
      &:has(input[type='checkbox']) {
        list-style: '▢ ';

        &::marker {
          color: var(--pf-color-border);
        }
      }

      &:has(input[type='checkbox']:checked) {
        color: var(--pf-color-fg-subtle);
        list-style: '✓ ';

        &::marker {
          color: var(--pf-color-green);
        }
      }

      input {
        display: none;
      }
    }
  }

  ul.linear {
    display: inline-flex;
    gap: 0.5rem;
    margin-block: 0;
    padding-inline-start: 0;

    li {
      display: inline-flex;
      gap: 0.5rem;

      &:not(:last-child)::after {
        content: var(--list-linear-separator, '·');
        color: var(--pf-color-fg-subtle);
      }
    }
  }

  /* Typographic elements */

  blockquote {
    border-inline-start: 1px solid var(--pf-color-border);
    padding-inline-start: 1rem;
    font-style: italic;
  }

  small {
    font-size: var(--pf-font-size-l7);
  }

  b,
  strong {
    font-weight: 600;
  }

  hr {
    margin-inline: -1rem;
    border: none;
    border-block-end: 1px dashed var(--pf-color-border);
    inline-size: calc(100% + 2 * 1rem);
    block-size: 0px;

    &.solid {
      border-block-end-style: solid;
    }
  }

  /* Image */

  img {
    border-radius: 0.5rem;
    max-inline-size: 100%;
    block-size: unset;
  }

  /* Table */

  table {
    border-collapse: separate;
    border-spacing: 0;
    inline-size: 100%;

    th,
    td {
      padding-inline: 0.5rem;
      padding-block: 0.125rem;

      &:first-child {
        border-inline-start: 1px solid var(--pf-color-border);
        padding-inline-start: 1rem;
      }
      &:last-child {
        border-inline-end: 1px solid var(--pf-color-border);
        padding-inline-end: 1rem;
      }
    }

    th {
      border-block: 1px solid var(--pf-color-border);
      background-color: var(--pf-color-bg-highlight);
      font-weight: 600;
      text-align: left;

      &:first-child {
        border-start-start-radius: 0.5rem;
      }
      &:last-child {
        border-start-end-radius: 0.5rem;
      }
    }

    tr:last-child td {
      border-block-end: 1px solid var(--pf-color-border);

      &:first-child {
        border-end-start-radius: 0.5rem;
      }
      &:last-child {
        border-end-end-radius: 0.5rem;
      }
    }
  }

  /* Code elements */

  code,
  pre,
  kbd,
  samp {
    font-family: var(--pf-font-family-monospace);
  }

  pre {
    border: 1px solid var(--pf-color-border);
    border-radius: 0.5rem;
    padding: 0.5rem;
    overflow-x: auto;
  }

  kbd,
  code:not(pre code) {
    border: 1px solid var(--pf-color-border);
    border-radius: 0.25rem;
    padding: 0.125rem 0.25rem;
    font-size: calc(1em * pow(var(--pf-font-size-scale), -1));
  }

  kbd {
    border-block-end-width: 2px;
  }
}
