@layer pf-universal {
	html {
		background-color: var(--pf-color-bg);
		color: var(--pf-color-fg);
		font-size: var(--pf-font-size-base);
		font-family: var(--pf-font-family);
	}

	:root::selection {
		background-color: var(--pf-color-selection);
	}

	/* Headings */

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 600;
	}

	/* Lists */

	li ol,
	li ul {
		margin-block: calc(2 * var(--pf-spacing));
	}

	dl {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 0 calc(2 * var(--pf-spacing));

		dt {
			color: var(--pf-color-fg-subtle);
		}

		&:not(:has(dt)) {
			display: none;
		}
	}

	.contains-task-list {
		li {
			&:has(input[type="checkbox"]) {
				list-style: "▢ ";

				&::marker {
					color: var(--pf-color-border);
				}
			}

			&:has(input[type="checkbox"]:checked) {
				color: var(--pf-color-fg-subtle);
				list-style: "✓ ";

				&::marker {
					color: var(--pf-color-green);
				}
			}

			input {
				display: none;
			}
		}
	}

	ul.linear {
		display: inline-flex;
		margin-block: 0;
		padding-inline-start: 0;
		flex-wrap: wrap;

		li {
			display: inline-flex;

			&:not(:last-child)::after {
				content: var(--list-linear-separator, "·");
				color: var(--pf-color-fg-subtle);
				margin-inline: calc(2 * var(--pf-spacing));
			}
		}
	}

	/* Typographic elements */

	blockquote {
		border-inline-start: 1px solid var(--pf-color-border);
		padding-inline-start: calc(4 * var(--pf-spacing));
	}

	small {
		font-size: var(--pf-font-size-l7);
	}

	b,
	strong {
		font-weight: 600;
	}

	hr {
		margin-inline: calc(-4 * var(--pf-spacing));
		border: none;
		border-block-end: 1px dashed var(--pf-color-border);
		inline-size: calc(100% + 2 * 4 * var(--pf-spacing));
		block-size: 0px;

		&.solid {
			border-block-end-style: solid;
		}
	}

	/* Image */

	img {
		border-radius: calc(2 * var(--pf-spacing));
		max-inline-size: 100%;
		block-size: unset;
	}

	/* Table */

	table {
		border-collapse: separate;
		border-spacing: 0;
		inline-size: 100%;

		th,
		td {
			padding-inline: calc(2 * var(--pf-spacing));
			padding-block: calc(0.5 * var(--pf-spacing));

			&:first-child {
				border-inline-start: 1px solid var(--pf-color-border);
				padding-inline-start: calc(4 * var(--pf-spacing));
			}
			&:last-child {
				border-inline-end: 1px solid var(--pf-color-border);
				padding-inline-end: calc(4 * var(--pf-spacing));
			}
		}

		th {
			border-block: 1px solid var(--pf-color-border);
			background-color: var(--pf-color-bg-highlight);
			font-weight: 600;
			text-align: left;

			&:first-child {
				border-start-start-radius: calc(2 * var(--pf-spacing));
			}
			&:last-child {
				border-start-end-radius: calc(2 * var(--pf-spacing));
			}
		}

		tr:last-child td {
			border-block-end: 1px solid var(--pf-color-border);

			&:first-child {
				border-end-start-radius: calc(2 * var(--pf-spacing));
			}
			&:last-child {
				border-end-end-radius: calc(2 * var(--pf-spacing));
			}
		}
	}

	/* Code elements */

	code,
	pre,
	kbd,
	samp {
		font-family: var(--pf-font-family-monospace);
		font-size: 0.9em;
	}

	pre {
		border: 1px solid var(--pf-color-border);
		border-radius: calc(2 * var(--pf-spacing));
		padding: calc(2 * var(--pf-spacing));
		overflow-x: auto;

		code {
			/* Avoid scaling down the font-size twice. */
			font-size: 1em;
		}
	}

	kbd,
	code:not(pre code) {
		border: 1px solid var(--pf-color-border);
		border-radius: var(--pf-spacing);
		padding: calc(0.5 * var(--pf-spacing));
	}

	kbd {
		border-block-end-width: 2px;
	}
}
