div.expressive-code {
  --ec-brdCol: var(--sl-color-hairline);
  --ec-brdRad: 0.25rem;
}

.card-grid > .card {
  transition: all 0.5s ease;
}

.card-grid > .card:hover {
  border-color: var(--cp-color-peach);
}
